#about
{
	display: flex;
	height: 80%;
	align-items: center;
	justify-content: center;
}

#about-content
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	margin-right: 5%;
	margin-left: 5%;
	background-color: var(--background-dark);
	border-radius: 10px;
}

#about-image
{
	width: 300px;
	height: 300px;
	margin: 30px;
	border-radius: 10px;
}

#about-content > #text
{
	margin: 20px;
}

#about-content > ul > li
{
	padding-left: 20px;
}

@media (max-width: 700px)
{
	#about
	{
		height: auto;
	}

	#about-content
	{
		flex-direction: column;
	}
}

