#gallery
{
	display: flex;
	flex-wrap: wrap;

	align-items: center;
	justify-content: center;

	width: 80svw;

	padding: 20px;
	margin-top: 20px;

	border-radius: 10px;
	background-color: var(--background-dark);
}

.video-card
{
	position: relative;
	padding: 20px;
}

.video-card > div
{
	text-align: left;
	pointer-events: none;
	position: absolute;
	top: 40px;
	left: 40px;
	display: none;
}

.video-card > video, .video-card > img
{
	transition: transform 0.1s ease;
	transform-style: preserve-3d;
	will-change: transform;
}

.video-card > video:hover, .video-card > img:hover
{
	filter: brightness(0.2);
	transition: filter .5s;
}

@media (max-width: 700px)
{
	.video-card > video
	{
		width: 213px;
		height: 120px;
	}

	.video-card > div
	{
		font-size: 0.5em;
		top: 25px;
		left: 30px;
	}
}

